@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
body {
  background: #000;
}

.mainscreen {
  height: 100%;
  width: 100%;
  background: url("/images/header.png") 0 0/auto 100% no-repeat;
  overflow: hidden;
}
.mainscreen .header {
  height: 12%;
  width: 94%;
  MARGIN: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainscreen .header a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 6*(100vw/1280));
}
.mainscreen .header img {
  height: 50%;
}
.mainscreen .header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 calc(10px + 8*(100vw/1280));
}
.mainscreen .header .header-container a {
  margin: 0 calc(12px + 8*(100vw/1280));
}
.mainscreen .header .header-container a:hover {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
  text-shadow: 0 0 3px #ffffff;
}
@media (max-width: 880px) {
  .mainscreen .header .header-container a {
    margin-top: 10px;
  }
}
@media (max-width: 590px) {
  .mainscreen .header .header-container {
    display: none;
  }
}
.mainscreen .header .enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(94.26deg, #a155f7 9.51%, #5d45f7 80.23%);
  border-radius: 50px;
  cursor: pointer;
}
.mainscreen .header .enter a {
  text-align: center;
  font-weight: bold;
  line-height: 150%;
  margin: 10px 20px;
  font-size: calc(10px + 5*(100vw/1280));
}
.mainscreen .header .enter:hover {
  text-shadow: 0 0 2px black;
  background: linear-gradient(94.26deg, #ae6ef8 9.51%, #745ffc 80.23%);
}
@media (max-width: 590px) {
  .mainscreen .header .enter a {
    font-size: calc(14px + 6*(100vw/1280));
  }
}
@media (max-width: 590px) {
  .mainscreen .header {
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mainscreen .content {
  width: 100%;
  height: 70%;
}
.mainscreen .content > div {
  width: 60%;
  height: 100%;
  margin: 0 0 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainscreen .content > div h1 {
  width: 100%;
  color: #ffffff;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: calc(16px + 25*(100vw/1280));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 5% 0;
}
.mainscreen .content > div .container {
  width: 60%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}
.mainscreen .content > div .container div {
  height: calc(60px + 24*(100vw/1280));
  width: calc(60px + 24*(100vw/1280));
  background: #121212;
  border: 3px solid #303030;
}
.mainscreen .content > div .container div p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: calc(18px + 12*(100vw/1280));
  font-weight: bold;
  text-align: center;
  margin: 20% 0 0 0;
  line-height: 120%;
}
.mainscreen .content > div .container div span {
  display: block;
  color: #ffffff;
  opacity: 0.4;
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 5*(100vw/1280));
  line-height: 140%;
  text-align: center;
}
@media (max-width: 999px) {
  .mainscreen .content > div .container {
    width: 100%;
  }
}
@media (max-width: 880px) {
  .mainscreen .content > div {
    width: 100%;
  }
}
@media (max-width: 590px) {
  .mainscreen .content > div {
    margin: 0 0 0 10%;
  }
}
@media (max-width: 590px) {
  .mainscreen .content {
    height: 48%;
  }
}
.mainscreen .footer {
  background: #121212;
  height: 18%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}
.mainscreen .footer span {
  color: #ffffff;
  opacity: 0.4;
  font-family: "Roboto", sans-serif;
  font-size: calc(11px + 5*(100vw/1280));
}
.mainscreen .footer p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 5*(100vw/1280));
  font-weight: bold;
}
.mainscreen .footer .order {
  position: relative;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  cursor: pointer;
}
.mainscreen .footer .order p {
  font-size: calc(12px + 6*(100vw/1280));
  margin: 15px 25px;
}
@media (max-width: 590px) {
  .mainscreen .footer .order p {
    font-size: calc(16px + 6*(100vw/1280));
    margin: 17px 30px;
  }
}
.mainscreen .footer .order:hover {
  background: linear-gradient(94.78deg, #e06d65 11.19%, #651966 93.72%);
  text-shadow: 0 0 2px black;
}
@media (max-width: 590px) {
  .mainscreen .footer .order {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 10% 0;
  }
}
.mainscreen .footer .order::after, .mainscreen .footer .order::before {
  content: "";
  position: absolute;
  border: 2px solid #2635be;
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
  border-radius: 50px;
  opacity: 0;
  -webkit-animation: pulse 4s ease-out infinite;
          animation: pulse 4s ease-out infinite;
}
.mainscreen .footer .order::after {
  border-width: 1px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
  }
}
.mainscreen .footer .members {
  width: 22%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.mainscreen .footer .members div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainscreen .footer .members span {
  margin: 0 6px 0 0;
}
.mainscreen .footer .members p {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 590px) {
  .mainscreen .footer .members {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    height: 15%;
    margin-top: 10px;
    gap: 20px;
  }
  .mainscreen .footer .members span {
    padding: 0 15px 0 0;
  }
}
@media (max-width: 450px) {
  .mainscreen .footer .members {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 5% 0 3% 0;
  }
}
.mainscreen .footer .earned {
  width: 35%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainscreen .footer .earned div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainscreen .footer .earned .info {
  width: 60%;
}
.mainscreen .footer .earned .info p {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.mainscreen .footer .earned .line {
  height: 5px;
  width: 100%;
  margin: 8px 0;
}
.mainscreen .footer .earned .line #earned_first {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  height: 5px;
  width: 66%;
}
.mainscreen .footer .earned .line #earned_second {
  background: white;
  height: 5px;
  width: 100%;
}
@media (max-width: 590px) {
  .mainscreen .footer .earned {
    width: 80%;
    height: 20%;
  }
}
@media (max-width: 590px) {
  .mainscreen .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 40%;
  }
}

.doing-wrapper {
  margin: 0 0 10% 0;
}
.doing-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 10% auto 0;
}
.doing-wrapper .content .images {
  width: 40%;
  margin: 0 auto;
}
.doing-wrapper .content .images img {
  width: 100%;
  height: auto;
}
.doing-wrapper .content .info {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
.doing-wrapper .content .info h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(32px + 6*(100vw/1280));
  margin: 0 0 40px 0;
}
.doing-wrapper .content .info p {
  font-family: "Roboto", sans-serif;
  font-size: calc(14px + 5*(100vw/1280));
  line-height: 150%;
}
@media (max-width: 700px) {
  .doing-wrapper .content .info {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 80%;
    margin: 5% 10% 0;
  }
  .doing-wrapper .content .info h2 {
    margin: 10px 0 15px 0;
  }
}
@media (max-width: 700px) {
  .doing-wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20% auto;
  }
}

.fast-start-wrapper {
  width: 100%;
}
.fast-start-wrapper .content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  margin: 0 auto;
}
.fast-start-wrapper .content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: calc(26px + 10*(100vw/1280));
}
.fast-start-wrapper .content p {
  font-family: "Roboto", sans-serif;
  font-size: calc(13px + 6*(100vw/1280));
  line-height: 160%;
  opacity: 0.5;
}
.fast-start-wrapper .content .fast-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  margin: 0 0 2% 0;
}
.fast-start-wrapper .content .fast-start img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 3% 0 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.fast-start-wrapper .content .fast-start h2 {
  margin: 2% 0 0 0;
}
.fast-start-wrapper .content .fast-start__info {
  font-size: calc(14px + 6*(100vw/1280));
  width: 30%;
  margin: 30px 0 4% 0;
}
@media (max-width: 1150px) {
  .fast-start-wrapper .content .fast-start__info {
    width: 80%;
  }
}
@media (max-width: 510px) {
  .fast-start-wrapper .content .fast-start__info {
    width: 100%;
  }
}
.fast-start-wrapper .content .big {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
}
.fast-start-wrapper .content .big .first, .fast-start-wrapper .content .big .second, .fast-start-wrapper .content .big .therd, .fast-start-wrapper .content .big .fourth {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.fast-start-wrapper .content .big .first > h2, .fast-start-wrapper .content .big .second > h2, .fast-start-wrapper .content .big .therd > h2, .fast-start-wrapper .content .big .fourth > h2 {
  line-height: 200%;
  font-size: calc(22px + 6*(100vw/1280));
}
.fast-start-wrapper .content .big .first > p, .fast-start-wrapper .content .big .second > p, .fast-start-wrapper .content .big .therd > p, .fast-start-wrapper .content .big .fourth > p {
  margin: 12% 0 0;
  width: 80%;
}
.fast-start-wrapper .content .big .first > div {
  height: 120px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.fast-start-wrapper .content .big .second > div {
  height: 90px;
  margin: 15px 0;
  background: linear-gradient(240deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.fast-start-wrapper .content .big .therd > div {
  height: 60px;
  margin: 30px 0;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.fast-start-wrapper .content .big .fourth > div {
  height: 30px;
  margin: 45px 0;
  background: linear-gradient(240deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.fast-start-wrapper .content .big h2 {
  font-size: 36px;
}

.get-professia-wrapper {
  width: 100%;
  margin: 10% 0 0 0;
}
.get-professia-wrapper .container {
  width: 75%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  margin: 0 auto;
}
.get-professia-wrapper .container h2 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: calc(36px + 6*(100vw/1280));
  line-height: 140%;
  text-align: center;
}
.get-professia-wrapper .container > h2 {
  margin: 0 0 7% 0;
}
@media (max-width: 750px) {
  .get-professia-wrapper .container > h2 {
    margin: 20% 0 15% 0;
  }
}
.get-professia-wrapper .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  gap: 5%;
}
.get-professia-wrapper .container .wrapper .first__wrapper, .get-professia-wrapper .container .wrapper .second__wrapper, .get-professia-wrapper .container .wrapper .therd__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.get-professia-wrapper .container .wrapper .first__wrapper img, .get-professia-wrapper .container .wrapper .second__wrapper img, .get-professia-wrapper .container .wrapper .therd__wrapper img {
  height: 100px;
  width: 100px;
  margin: 0 auto 10%;
}
.get-professia-wrapper .container .wrapper .first__wrapper h2, .get-professia-wrapper .container .wrapper .second__wrapper h2, .get-professia-wrapper .container .wrapper .therd__wrapper h2 {
  font-size: calc(20px + 6*(100vw/1280));
  line-height: 140%;
}
.get-professia-wrapper .container .wrapper .first__wrapper p, .get-professia-wrapper .container .wrapper .second__wrapper p, .get-professia-wrapper .container .wrapper .therd__wrapper p {
  font-family: "Roboto", sans-serif;
  font-size: calc(12px + 6*(100vw/1280));
  line-height: 160%;
  opacity: 0.8;
  text-align: center;
  margin: 20px 0 0 0;
}
@media (max-width: 750px) {
  .get-professia-wrapper .container .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
@media (max-width: 750px) {
  .get-professia-wrapper .container .wrapper .second__wrapper {
    margin: 20% 0;
  }
}

.programm-wrapper {
  width: 100%;
  margin: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
.programm-wrapper .img {
  margin: 0 0 3% 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.programm-wrapper .title h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: calc(32px + 6*(100vw/1280));
  line-height: 140%;
  text-align: center;
}
.programm-wrapper .info {
  width: 26%;
  margin: 2% 0 4% 0;
}
.programm-wrapper .info p {
  font-family: "Roboto", sans-serif;
  font-size: calc(12px + 6*(100vw/1280));
  line-height: 160%;
  text-align: center;
  opacity: 0.5;
}
@media (max-width: 1030px) {
  .programm-wrapper .info {
    width: 35%;
  }
}
@media (max-width: 770px) {
  .programm-wrapper .info {
    width: 50%;
  }
}
@media (max-width: 430px) {
  .programm-wrapper .info {
    width: 70%;
    margin: 2% 0 6% 0;
  }
}
.programm-wrapper .no-coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.programm-wrapper .no-coment p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
  margin: 0 0 3% 0;
}
.programm-wrapper .no-coment h3 {
  font-family: "Roboto", sans-serif;
  font-size: calc(14px + 6*(100vw/1280));
  line-height: 160%;
  margin: 0 0 30% 0;
}
.programm-wrapper .no-coment .left {
  width: 40%;
  text-align: right;
}
.programm-wrapper .no-coment .right {
  width: 40%;
  text-align: left;
}
.programm-wrapper .no-coment .first::after {
  position: absolute;
  content: "";
  padding: 3px 25%;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 25%;
  margin-top: 11%;
}
@media (max-width: 1030px) {
  .programm-wrapper .no-coment .first::after {
    padding: 3px 31%;
    left: 19%;
    margin-top: 14%;
  }
}
@media (max-width: 770px) {
  .programm-wrapper .no-coment .first::after {
    padding: 3px 40%;
    left: 10%;
    margin-top: 18%;
  }
}
@media (max-width: 430px) {
  .programm-wrapper .no-coment .first::after {
    padding: 3px 63%;
    left: -13%;
    margin-top: 28%;
  }
}
@media (max-width: 770px) {
  .programm-wrapper .no-coment {
    width: 60%;
  }
}
@media (max-width: 430px) {
  .programm-wrapper .no-coment {
    width: 80%;
  }
}
@media (max-width: 742px) {
  .programm-wrapper {
    margin-top: 20%;
  }
}

.teachers-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teachers-wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  width: 60%;
  margin: 0 0 5% 0;
}
.teachers-wrapper .title img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.teachers-wrapper .title h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: calc(28px + 6*(100vw/1280));
  line-height: 140%;
  color: #ffffff;
  margin: 0 0 0 10%;
}
@media (max-width: 590px) {
  .teachers-wrapper .title {
    width: 80%;
    margin-top: 10%;
  }
}
@media (max-width: 420px) {
  .teachers-wrapper .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .teachers-wrapper .title > h2 {
    margin: 8% auto 5%;
    text-align: center;
  }
}
.teachers-wrapper .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
.teachers-wrapper .wrapper img {
  height: 200px;
  width: 200px;
}
.teachers-wrapper .wrapper h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  margin: 10px 0 0 0;
}
.teachers-wrapper .wrapper p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
  text-align: center;
  margin: 6% 0 12% 0;
}
.teachers-wrapper .wrapper button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  text-align: center;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
  margin: 0 auto;
  padding: 10px 20px;
}
.teachers-wrapper .wrapper button:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: #ffffff;
  color: black;
  text-shadow: 0 0 10px #747474;
  border: 1px solid black;
}
.teachers-wrapper .wrapper .first, .teachers-wrapper .wrapper .second, .teachers-wrapper .wrapper .therd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
}
.teachers-wrapper .wrapper .second {
  margin: 0 10%;
}
@media (max-width: 950px) {
  .teachers-wrapper .wrapper .second {
    margin: 12% 0;
  }
}
@media (max-width: 950px) {
  .teachers-wrapper .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .teachers-wrapper .wrapper img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .teachers-wrapper .wrapper button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .teachers-wrapper .wrapper p {
    margin: 2% 0 4%;
  }
}

.footer-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10% 0 5% 0;
}
.footer-wrapper .title h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: calc(36px + 6*(100vw/1280));
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.footer-wrapper .info {
  font-family: "Roboto", sans-serif;
  font-size: calc(11px + 6*(100vw/1280));
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  margin: 15px 0 30px 0;
}
.footer-wrapper .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-wrapper .mail input {
  height: 100%;
  background: #3f3e3e;
  border-radius: 50px 0px 0px 50px;
  padding: 10px 170px 10px 20px;
  color: #ffffff;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: calc(10px + 2*(100vw/1280));
}
.footer-wrapper .mail input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.footer-wrapper .mail input::-moz-placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.footer-wrapper .mail input:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.footer-wrapper .mail input::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.footer-wrapper .mail input::placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
@media (max-width: 570px) {
  .footer-wrapper .mail input {
    padding: 10px 40px 10px;
  }
}
.footer-wrapper .mail button {
  height: 100%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  color: #ffffff;
  padding: 10px 20px;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: calc(10px + 2*(100vw/1280));
  letter-spacing: 1px;
  margin: 0 0 0 -5%;
}
.footer-wrapper .mail button:hover {
  margin: 0 0 0 -15%;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  background: linear-gradient(116.78deg, #dd4338 10.19%, #611763 93.72%);
}
.footer-wrapper .links {
  max-width: 400px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px 0 20px 0;
}
.footer-wrapper .links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
}
.footer-wrapper .links div a {
  margin: 0 auto;
}
.footer-wrapper .links > div:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}